.error {
  color: #dc3545;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  transition: 1s;
  margin-top: 4px;
  margin-left: 20px;
}

h2 {
  font-size: 25px;
  font-weight: lighter;
}

.errordifi {
  margin-top: 7px;
}

.imagenfondo {
  background: url(../mundial/cuartos.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  background-position: center;
  font-family: "Nunito Sans", sans-serif;
}

input {
  /* background-color: #0efa31; */
  border: 0;
  border-radius: 3px;
}

.activityHeader {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: white;

  background-image: linear-gradient(45deg, rgb(7, 7, 30), rgb(7, 85, 252));
  background-size: 600% 600%;
  animation: movimiento 5s linear infinite alternate-reverse;

  max-width: 80%;

  border-radius: 3px;
  border: 0;
  margin-left: 9.6%;
  margin-right: 9.6%;
  min-height: 100vh;
  height: 100%;
  transition: all 1s;
  position: relative;
}
.activityHeader [type="radio"] {
  display: none;
}

.temporadaRadio label {
  display: inline-block;
  position: relative;
  color: white;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
  background-color: blue;
  margin-left: 30px;
  padding-left: 40px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.cajaradios label {
  display: inline-block;
  position: relative;

  color: white;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
  background-color: blue;
  margin-left: 30px;
  padding-left: 40px;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.cajaradios label:hover {
  background-color: #2a99e8;
}

.temporadaRadio label:hover {
  background-color: #2a99e8;
}

.cajaradios label::before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 7px;
}

.temporadaRadio label::before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid;
  border-radius: 50%;
  position: absolute;
  right: 80px;
  top: 7px;
}

.activityHeader input[type="radio"]:checked + label {
  padding: 5px 15px;
  background-color: #0dc629;
  border-radius: 2px;
  color: #ffff;
  transition: 1s;
}

.activityHeader input[type="radio"]:checked + label:before {
  display: none;
  transition: 1s;
}

.submitcontenedor {
  width: 200px;
  height: 40px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-left: auto;
  margin-right: auto;
}

.createActivity {
  border-radius: 2px;
  font-size: medium;
  color: white;
  padding: 10px;
}

.createActivity:disabled {
  background-color: rgb(154, 22, 22);
}

.createActivity:enabled {
  background-color: #0dc629;
  cursor: pointer;
  border: 0;
}
.inputduration {
  display: flex;
  /*  flex-direction: row; */
  justify-content: space-evenly;
  /* text-align: center;
  align-items: center; */
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.duration1 {
  width: 50%;
  position: relative;
}
.duration2 {
  width: 50%;
  position: relative;
}

.inputduration1 input {
  width: 70%;
  height: 100%;
  margin-right: 29px;
  transform: 1s;
  background-color: rgb(154, 22, 22);
  font-family: "Nunito Sans", sans-serif;
  text-indent: 10px;
  font-size: 15px;
  border: 1px solid rgb(154, 22, 22);
  outline: none;
}
.inputduration2 input {
  width: 70%;
  height: 100%;
  margin-left: 29px;
  transform: 1s;
  font-family: "Nunito Sans", sans-serif;
  background-color: rgb(154, 22, 22);
  text-indent: 10px;
  border: 1px solid rgb(154, 22, 22);
  outline: none;
}

.inputduration2 span {
  position: absolute;
  right: 6px;
  color: white;
  pointer-events: none;
  font-family: "Nunito Sans", sans-serif;
  transition: 1s;
}
.inputduration1 span {
  position: absolute;
  left: 12px;
  color: white;
  pointer-events: none;
  font-family: "Nunito Sans", sans-serif;
  transition: 1s;
}
.inputduration1 input:hover,
.inputduration2 input:hover,
.inputbox input:hover {
  background-color: rgb(122, 19, 19);
}

.inputduration1 input:valid ~ span,
.inputduration1 input:focus ~ span {
  font-family: "Nunito Sans", sans-serif;
  color: #0dc629;
  transform: translateX(46px) translateY(-3px);

  font-size: 1.3em;
  transition: all 1s;
}

.inputduration2 input:valid ~ span,
.inputduration2 input:focus ~ span {
  font-family: "Nunito Sans", sans-serif;
  color: #0dc629;
  transform: translateX(68px) translateY(-3px);

  font-size: 1.3em;
  transition: all 1s;
}

.inputduration1 input:valid,
.inputduration1 input:focus {
  background-color: white;
  transition: all 1s;
  border: 2px solid #0dc629;
  font-family: "Nunito Sans", sans-serif;
  width: 40%;
}

.inputduration2 input:valid,
.inputduration2 input:focus {
  background-color: white;
  transition: all 1s;
  border: 2px solid #0dc629;
  font-family: "Nunito Sans", sans-serif;
  width: 40%;
}

.minibanderas {
  width: 60px;
  height: 40px;
}
.select {
  position: relative;
  display: flex;
  height: 2.5em;
  line-height: 3;
  background: #2b2e2e;
  overflow: hidden;
  border-radius: 0.25em;
  margin-left: 140px;
  width: 300px;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 1em;
  background: #2b2e2e;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  margin-bottom: 5px;
}
.select:hover::after {
  color: #16ed36;
}

.select select {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; */
  /* outline: 0; */
  box-shadow: none;
  border: 0 !important;
  background: #0dc629;
  /* background-image: none; */
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Nunito Sans", sans-serif;
}
.select select::selec .select select::-ms-expand {
  /* display: none; */
}

.botonresetlista button {
  cursor: pointer;
}

.bodyfalso {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.inputbox {
  position: relative;
  width: 250px;
}

.inputbox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(154, 22, 22);
  background: rgb(154, 22, 22);
  border-radius: 5px;
  outline: none;
  color: black;
  transform: 1s;
  text-indent: 20%;
}
.inputbox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  color: white;
  transition: 1s;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  margin-left: 90px;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  font-family: "Nunito Sans", sans-serif;
  color: #0dc629;
  transform: translateX(40px) translateY(-42px);
  font-size: 0.65em;
  font-weight: ;
  font-size: 27px;
  transition: all 1s;
}

.inputbox input:valid,
.inputbox input:focus {
  background-color: white;
  transition: all 1s;
  border: 2px solid #0dc629;
  font-family: "Nunito Sans", sans-serif;
}

.errorpais {
  z-index: 100;
  position: absolute;
  margin-left: 190px;
  margin-top: 9px;
  color: #dc3545;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
}

.resetform {
  margin-left: 100px;
  display: none;
  padding: 200px;
  font-family: "Nunito Sans", sans-serif;
}

.banderitascontenedor {
  display: inline-block;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

button {
  font-family: "Nunito Sans", sans-serif;
  border: 0;
}

.semicajita {
  margin-right: 80px;
}

.error1 {
  transform: 1s;
  color: #dc3545;
  font-size: 12px;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 460px;
  transform: translateX(0px) translateY(-30px);
}

.error1 span {
  transition: all 1s;
}

.errordeactividad {
  font-family: "Nunito Sans", sans-serif;
  color: #dc3545;
  font-size: 12px;
  position: absolute;
  margin-top: 10px;
  margin-left: 150px;

  /* transform: translateX(80px) translateY(-48px); */
}

.error2 {
  font-family: "Nunito Sans", sans-serif;
  color: #dc3545;
  font-size: 12px;
  position: absolute;

  margin-left: 180px;
  transform: translateX(0px) translateY(-18px);
  transition: 1s;
}

.error2alter {
  font-family: "Nunito Sans", sans-serif;
  color: #dc3545;
  font-size: 12px;
  position: absolute;
  transform: translateX(-300px) translateY(-45px);
}

.logoahome img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.logoahome img {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  filter: brightness(1.1);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 9.6%;
  z-index: 100;
  transition: 0.5s;
}

@media (max-width: 866px) {
  .activityHeader {
    margin: 0;
    min-width: 100%;
  }
  .logoahome img {
    left: 0;
  }
  .cajaradios label {
    margin-left: 2px;
  }
  .temporadaRadio label {
    margin-left: 2px;
  }
}
